<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改城市')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-city-edit" th:object="${tqCity}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">城市编码：</label>
                <div class="col-sm-8">
                    <input name="cityCode" th:field="*{cityCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">城市名称：</label>
                <div class="col-sm-8">
                    <input name="cityName" th:field="*{cityName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属省编码：</label>
                <div class="col-sm-8">
                    <input name="provinceId" th:field="*{provinceId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属省名称：</label>
                <div class="col-sm-8">
                    <input name="provinceName" th:field="*{provinceName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">城市拼音：</label>
                <div class="col-sm-8">
                    <input name="cityJc" th:field="*{cityJc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有效标志：</label>
                <div class="col-sm-8">
                    <input name="flag" th:field="*{flag}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/city";
        $("#form-city-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-city-edit').serialize());
            }
        }
    </script>
</body>
</html>